/*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/atom-one-dark.min.css">
*/

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/atom-one-dark.min.css');

.book
{
    margin: auto;
    width: 600px;
    text-align: justify; 
    font-size: 16px;

    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

/* code 
{
    background-color: #F2F2F2;
    color: #009FC5;
    border-radius: 0.5rem;
    padding: 1px 5px 1px;
    white-space: nowrap;
    font-family: Sans-Serif;
    font-size: 1rem;
} */


.bd-callout {
    padding: 1.0rem;
    /* margin-top: 1.25rem; */
    margin-bottom: 1.25rem;
    border: 1px solid #E2E2E2;
    border-left-width: 1.5rem;
    border-radius: 15px;
    background-color: #F2F2F2;
    }
/*
    .bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem;
    font-weight: 600;
    font-size: 1.0rem;
    }
*/
    .bd-callout p {
        margin-top: 0;
        margin-bottom: .25rem;
        font-weight: 600;
        font-size: 1.2rem;
        color: #262626;
        }
    
    .bd-callout p:last-child {
    margin-bottom: 0
    }
    
    .bd-callout code {
    border-radius: .25rem
    }
    
    .bd-callout+.bd-callout {
    margin-top: -.25rem
    }
    
    /* -------------------------------------
     * Button: Info   
     */
     .bd-callout-info {
        border-left-color: #5bc0de
        }
        .bd-callout-info h4 {
        color: #5bc0de
        }
        
        .bd-callout-warning {
        border-left-color: #f0ad4e
        }
        .bd-callout-warning h4 {
        color: #f0ad4e
        }
        
       /* -------------------------------------
         * Button: Danger  
         */
        .bd-callout-danger {
        border-left-color: #d9534f
        }
        .bd-callout-danger h4 {
        color: #d9534f
        }
        
        /* -------------------------------------
         * Button: Primary 
         */
        .bd-callout-primary{
        border-left-color: #007bff
        }
        .bd-callout-primaryh4 {
        color: #007bff
        }
        
        /* -------------------------------------
         * Button: Sucess
         */
        .bd-callout-success{
        border-left-color: #28a745
        }
        .bd-callout-successh4 {
        color: #28a745
        }
        
    
        /* -------------------------------------
         * Button: default
         */
        .bd-callout-black{
        border-left-color: #6c757d
        }
        .bd-callout-defaulth4 {
        color: #6c757d
        }
    
       /* -------------------------------------
         * Button: black
         */
        .bd-callout-black
        {
            border-left-color: #262626
        }


       /* -------------------------------------
        * Button: black
        */
        .bd-callout-summary
        {
            border-left-color: #23813F;
        }


       /* -------------------------------------
        * Button: black
        */
        .bd-callout-tryItOut
        {
            border-left-color: #009FC5
        }

       /* -------------------------------------
        * Button: black
        */
        .bd-callout-memory
        {
            border-left-color: #FFFFFF
        }


.btn {
    padding: 6px 15px;
    border: 0 none;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 15px;
    border: 1px solid #E2E2E2;
}

.myHorizontalLine
{
    background-color: #FFFFFF;
    border-top: 1px dashed;
    padding: 3px 3px 3px 3px;
}

.myAccordion {
/* 
    max-width: 500px;
    margin: 50px auto; */
    padding-left: 10px;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----  
 * Image Formating 
 */
.myImg
{
    border-radius: 15px; 
    border: solid; 
    border-width: 1px; 
    border-color: #E2E2E2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.myImg_Description
{
    text-align: center; 
    font-size: 0.9em; 
    color:#A2A2A2;
}

.myImg_FullSizeLink
{
    text-decoration:none;
    font-size: 0.9rem;
}

.myLi
{

}

.alert
{
border-radius: 15px;

}

.accordion-item
{
    background-color: transparent !important;
    border: 1px solid;
    border-color: #E2E2E2;
    border-radius: 15px;
    padding: 0px;
    margin-bottom: 10 px;

}

.accordion
{
    /* box-shadow: 0 2px 20px 0 rgba(110, 130, 208, .18); */
    /* border-radius: 15px; */

}

.accordion-body
{
    /* background-color: #F2F2F2; */
}

.accordion-header
{

}
.accordion-button
{
    background-color: transparent !important;
    border-radius: 15px;
}

.myPre
{
    /* tab-size: 1;  */
    /* border: 3px solid blue;  */
    border-color: red;
    border-radius: 15px; */
    font-size: 0.8rem;
    padding: 0px;
} 