/*
 * In <head> </head> tags
 * Bootstrap CSS
 * <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">   
 * <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/atom-one-dark.min.css">
*/

@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/atom-one-dark.min.css');


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root 
{

}

.my_longRead
{
    margin: auto;
    width: 600px;
}

 /* STR---------------------------------------------------------------------------
  * ------------------------------------------------------------------------------
  * HEADINGS
  */
.my_Heading
{
    /* to remove space above and below */
    margin-top: 0rem;
    margin-bottom: 0rem;
    /* ------------------------------ */

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    /* font-family: ; */
}

h1.my_Heading
{

}

h2.my_Heading
{

}

h3.my_Heading
{

}

h4.my_Heading
{

}

h5.my_Heading
{

}

h6.my_Heading
{

}
 /* END ----------------------------------------------------------------------- */


 /* STR---------------------------------------------------------------------------
  * ------------------------------------------------------------------------------
  * TEXT BLOCK - PARAGRAPH
 */
.my_TextBlock
{
    /* to remove space above and below */
    margin-top: 0rem;
    margin-bottom: 0rem;
    /* ------------------------------ */

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: justify; 

    font-weight: 300;
    line-height: 26px;
}
 /* END ----------------------------------------------------------------------- */


/* code 
{
    background-color: #F2F2F2;
    color: #009FC5;
    border-radius: 0.5rem;
    padding: 1px 5px 1px;
    white-space: nowrap;
    font-family: Sans-Serif;
    font-size: 1rem;
} */

/* ----------------------------------------------------------
 * ----------------------------------------------------------
 * CALLOUTS
 */
.bd-callout {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;

    /* to remove space above and below */
    margin-top: 0rem;
    margin-bottom: 0rem;
    /* ------------------------------- */

    border: 1px solid #E2E2E2;
    border-left-width: 1.5rem;
    border-radius: 15px;

    background-color: #F2F2F2;
}

.bd-callout p 
{
    font-weight: 300;
    font-size: 1.2rem;
    color: #262626;
}
   
    .bd-callout p:last-child {
    margin-bottom: 0
    }
    
    .bd-callout code {
    border-radius: .25rem
    }
    
    .bd-callout+.bd-callout {
    /* margin-top: -.25rem */
    margin-top: 2rem
    }
    
    /* -------------------------------------
     * Button: Info   
     */
     .bd-callout-info {
        border-left-color: #5bc0de
        }
        .bd-callout-info h4 {
        color: #5bc0de
        }
        
        .bd-callout-warning {
        border-left-color: #f0ad4e
        }
        .bd-callout-warning h4 {
        color: #f0ad4e
        }
        
       /* -------------------------------------
         * Button: Danger  
         */
        .bd-callout-danger {
        border-left-color: #d9534f
        }
        .bd-callout-danger h4 {
        color: #d9534f
        }
        
        /* -------------------------------------
         * Button: Primary 
         */
        .bd-callout-primary{
        border-left-color: #007bff
        }
        .bd-callout-primaryh4 {
        color: #007bff
        }
        
        /* -------------------------------------
         * Button: Sucess
         */
        .bd-callout-success{
        border-left-color: #28a745
        }
        .bd-callout-successh4 {
        color: #28a745
        }
        
        /* -------------------------------------
         * Button: default
         */
        .bd-callout-black{
        border-left-color: #6c757d
        }
        .bd-callout-defaulth4 {
        color: #6c757d
        }
    
       /* -------------------------------------
         * Button: black
         */
        .bd-callout-black
        {
            border-left-color: #262626
        }

       /* -------------------------------------
        * Button: black
        */
        .bd-callout-summary
        {
            border-left-color: #23813F;
        }

       /* -------------------------------------
        * Button: black
        */
        .bd-callout-tryItOut
        {
            border-left-color: #009FC5
        }

       /* -------------------------------------
        * Button: black
        */
        .bd-callout-memory
        {
            border-left-color: #FFFFFF
        }
/* ------------------------------------------------------------------------------
 * ------------------------------------------------------------------------------
 */

.btn {
    padding: 6px 15px;
    border: 0 none;
    font-weight: 300;
    letter-spacing: 1px;
    border-radius: 15px;
    border: 1px solid #E2E2E2;
}

.myHorizontalLine
{
    background-color: #FFFFFF;
    border-top: 1px dashed;
    padding: 3px 3px 3px 3px;
}

.myAccordion {
/* 
    max-width: 500px;
    margin: 50px auto; */
    padding-left: 10px;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- -----  
 * Image Formating 
 */
.myImg
{
    border-radius: 15px; 
    border: solid; 
    border-width: 1px; 
    border-color: #E2E2E2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.myImg_Description
{
    text-align: center; 
    font-size: 0.9em; 
    color:#A2A2A2;
}

.myImg_FullSizeLink
{
    text-decoration:none;
    font-size: 0.9rem;
}

.myLi
{

}

.alert
{
    border-radius: 15px;

    padding-top: 2%;
    padding-right: 3%;
    padding-bottom: 2%;
    padding-left: 3%;

    /* to remove space above and below */
    margin-top: 0rem;
    margin-bottom: 0rem;
    /* ------------------------------- */

}

.accordion-item
{
    background-color: transparent !important;
    border: 1px solid;
    border-color: #E2E2E2;
    border-radius: 15px;
    padding: 0px;
    margin-bottom: 10 px;

}

.myPre
{
    /* tab-size: 1;  */
    /* border: 3px solid blue;  */
    border-color: red;
    border-radius: 15px; */
    font-size: 0.8rem;

    /* to remove space above and below */
    margin-top: 0rem;
    margin-bottom: 0rem;
    /* ------------------------------- */

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
} 



.my_heading1
{
    /* to remove space above and below */
    margin-top: 0rem;
    margin-bottom: 5rem;
    /* ------------------------------- */

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    /* border: 3px solid red; */
    border-top: 10px solid green;
    border-right: 10px solid black;
    border-bottom: 10px solid orange;
    border-left: 10px solid red;

    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 50px;

    background-color: #E2E2E2;

}

.my_spacer
{
    /* to remove space above and below */
    margin-top: 1rem;
    margin-bottom: 5rem;
    /* ------------------------------- */

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;    
}

.my_divider
{
    /* to remove space above and below */
    margin-top: 1rem;
    margin-bottom: 5rem;
    /* ------------------------------- */

    border: 1px dashed #262626;
    background-color: transparent !important;

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;    
}